.header {
  justify-content: flex-start;
  gap: 30px;
  height: 50px;
  margin: 10px 50px;
}

/* Toggle switch */
.header .toggle_switch {
  width: 180px;
  gap: 0;
}

.header .toggle_switch input {
  display: none;
}

.header .toggle_switch label {
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray);
  box-shadow: var(--box_shadow);
}

.header .toggle_switch div:first-child label {
  border-radius: var(--border_radius_left);
}
.header .toggle_switch div:last-child label {
  border-radius: var(--border_radius_right);
}

.header .toggle_switch label img {
  height: 27px;
  width: 27px;
  max-height: 27px;
  max-width: 27px;
}

.header .toggle_switch input:checked + label {
  border: 2px solid var(--orange);
}

/* Button */

.header button {
  display: block;
  height: 26px;
  width: fit-content;
  min-width: 100px;
  border: none;
  margin: 0 20px;
  padding: 5px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  box-shadow: var(--box_shadow);
  background: var(--mulah);
  color: var(--white);
  border-radius: 4px;
  border-radius: 13px;
}

.header button:hover {
  cursor: pointer;
  filter: contrast(110%);
}

.header button:active {
  transform: scale(0.95);
}

/* Select dropdown */

.header select.dropdown_select {
  width: 190px;
  border: 1px solid var(--gray_dark);
  border-radius: 5px;
  background: var(--white);
  font-size: 13px;
  font-weight: 400;
  box-shadow: var(--box_shadow);
}

/* Fieldset */

.header fieldset {
  height: 30px;
  border: 1px solid var(--gray);
  border-radius: 10px;
  box-shadow: var(--box_shadow);
}
