.node {
  border: 1px solid grey;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: #333;
}

.node-start {
  color: green;
  font-size: 1.5rem;
  margin: auto;
  background-color: green;
}

.node-end {
  /* font-size: 1.5rem;
  margin: auto;
  color: red; */
  background-color: red;
}

.node-wall {
  /* font-size: 1.5rem;
  margin: auto;
  color: red; */
  background-color: black;
  animation-name: wall;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes wall {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}

.node-weight {
  background-color: blue;
}